button {
    background: linear-gradient(to right, #ff7b00, #ff5500);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 10px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 25px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

body{
    background: linear-gradient(to bottom, #000000, #ff8c00);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}